services:
  db:    
    build: ./Application/MariaDB/    
    container_name: db   
    env_file: ./Application/MariaDB/.env     
    ports:
      - "3306:3306"
    volumes: 
        - ./Application/db_vol:/var/lib/mysql
        - "./Application/log/db:/var/log"        

  phpmyadmin:    
    image: phpmyadmin 
    container_name: phpmyadmin   
    ports:
      - "8080:80"
    environment:
      - PMA_ARBITRARY=1

  web:
    command: ["apache2-foreground"]      
    build: .
    depends_on:
      - ai-service
    user: "1000"
    container_name: php
    ports:
      - "80:80"     
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - XDEBUG_CONFIG=client_host=host.docker.internal mode=debug
    tty: true
    stdin_open: true
    volumes: 
      - ".:/var/www"
      - ./docker-php-ext-xdebug.ini:/usr/local/etc/php/php.ini      
      - "./Application/log/apache:/var/log/apache2"
      - "./Application/log/php:/var/log"
      - "./ai_temp_uploads:/var/www/html/uploads" # Volumen compartido para el procesamiento de imágenes

  ai-service:
    build: ./ai-service
    container_name: ai-service      
    ports:
      - "5000:5000"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    volumes:
      # CARPETA COMPARTIDA: Python lee de aquí
      - "./ai_temp_uploads:/app/uploads"
        
volumes:
  db_vol:  
  
